body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-conteiner {
    font-family: 'Segoe UI';
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.middle-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-area button {
    width: 400px;
    margin-top: 20px;
    padding: 15px;
    cursor: pointer;
    border: none;
    background-color: rgb(233, 27, 216);
    color: white;
    font-size: 1.3em;
}

#button_aplicar{
    border-radius: 5px;
}

#textarea {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    column-count: initial !important;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
}

#textp span{
    margin-bottom: 10px;
    font-size: 0.4em;
    padding: 5px;
}